<section class="advantages">
  <div class="advantages__container">
    <h2 class="advantages__container__title">
      Volverse organizado se siente mejor con
      <span class="uppercase">Open Spaces</span>
    </h2>
    <article class="advantages__container__article">
      <img src="./assets/images/icon_1.png" alt="Icon 1" />
      <h3>Lo que necesitas</h3>git checkout</p>
    </article>
    <article class="advantages__container__article">
      <img src="./assets/images/icon_2.png" alt="Icon 2" />
      <h3>Materias primas sustentables</h3>
      <p>Todos los productos con materias primas sustentables</p>
    </article>
    <article class="advantages__container__article">
      <img src="./assets/images/icon_3.png" alt="Icon 3" />
      <h3>Guía</h3>
      <p>Soporte y asesoramiento para ayudarte con tu objetivo</p>
    </article>
  </div>
</section>
