<section class="advantages">
  <div class="advantages__container">
    <h2 class="advantages__container__title text_title_h2">
      Volverse organizado se siente mejor con
      <span class="uppercase text_title_h2">Open Spaces</span>
    </h2>

    <include
      src="../partials/components/advantages-article.html"
      aa_img="icon_1.png"
      aa_alt_img="Icono 1"
      aa_title="Lo que necesitas"
      aa_paragraph="Una línea de productos diseñados para tus espacios"
    ></include>
    <include
      src="../partials/components/advantages-article.html"
      aa_img="icon_2.png"
      aa_alt_img="Icono 2"
      aa_title="Materias primas sustentables"
      aa_paragraph="Todos los productos con materias primas sustentable"
    ></include>
    <include
      src="../partials/components/advantages-article.html"
      aa_img="icon_3.png"
      aa_alt_img="Icono 3"
      aa_title="Guía"
      aa_paragraph="Soporte y asesoramiento para ayudarte con tu objetivo"
    ></include>
  </div>
</section>
