<footer class="footer">
  <div class="footer__container">
    <div class="footer__list">
      <h3 class="footer__list__title text_title_h3">Tienda</h3>
      <ul class="footer__list__ul">
        <a href="https://adalab.es" target="_blank"
          ><li class="text_paragraph">Productos</li></a
        >
        <a href="https://adalab.es" target="_blank"
          ><li class="text_paragraph">Cajoneras</li></a
        >
        <a href="https://adalab.es" target="_blank"
          ><li class="text_paragraph">Para toda la casa</li></a
        >
        <a href="https://adalab.es" target="_blank"
          ><li class="text_paragraph">Habitaciones</li></a
        >
      </ul>
    </div>

    <div class="footer__list">
      <h3 class="footer__list__title text_title_h3">Nosotros</h3>
      <ul class="footer__list__ul">
        <a href="https://adalab.es" target="_blank"
          ><li class="text_paragraph capitalize">Nuestra guía</li></a
        >
        <a href="https://adalab.es" target="_blank"
          ><li class="text_paragraph">Nuestro diseño</li></a
        >
        <a href="https://adalab.es" target="_blank"
          ><li class="text_paragraph">Nuestra historia</li></a
        >
        <a href="https://adalab.es" target="_blank"
          ><li class="text_paragraph">Ayuda</li></a
        >
      </ul>
    </div>

    <div class="footer__list">
      <h3 class="footer__list__title text_title_h3">Contacto</h3>
      <ul class="footer__list__ul">
        <a href="mailto:hola@adalab.es"
          ><li class="text_paragraph">ayuda@openspaces.com</li></a
        >
        <a href="https://adalab.es" target="_blank"
          ><li class="text_paragraph">Socios</li></a
        >
      </ul>

      <div class="footer__some">
        <a href="https://adalab.es" target="_blank"
          ><i
            class="footer__some__icon fa-brands fa-linkedin-in"
            title="Ir a linkdIn"
          ></i
        ></a>
        <a href="https://adalab.es" target="_blank"
          ><i
            class="footer__some__icon fa-brands fa-instagram"
            title="Ir a Instagram"
          ></i
        ></a>
        <a href="https://adalab.es"
          ><i
            class="footer__some__icon fa-brands fa-twitter"
            title="Ir a Twitter"
          ></i
        ></a>
        <a href="./experiments.html"
          ><i
            class="footer__some__icon footer__some__icon--egg fa-solid fa-egg"
            title="¡Sorpresa!"
          ></i
        ></a>
      </div>
    </div>
  </div>
  <a class="footer__arrow" href="./index.html#anchor_header">
    <i class="fa-solid fa-arrow-up" title="Volver arriba"></i>
  </a>
</footer>
