<header class="header" id="anchor_header">
  <nav class="header__nav">
    <a href="https://adalab.es" target="_blank"
      ><i class="fa-solid fa-bars header__nav--hamburguer"></i
    ></a>

    <ul class="header__nav--menu">
      <li><a class="text_header_links" href="#">Productos</a></li>
      <li><a class="text_header_links" href="#">Colecciones</a></li>
      <li><a class="text_header_links" href="#">Tienda</a></li>
      <li><a class="text_header_links" href="#">Inicio</a></li>
    </ul>
  </nav>

  <a class="header__logo" href="./index.html#header"
    ><img
      class="logo"
      src="./assets/images/logo.png"
      alt="Logo de Open Spaces"
      title="Ir al inicio"
  /></a>
</header>
