<header class="header" id="anchor_header">
  <nav class="header__nav">
    <a href="https://adalab.es" target="_blank"
      ><i class="fa-solid fa-bars header__nav--hamburguer"></i
    ></a>

    <ul class="header__nav--menu">
      <li>
        <a class="text_header_links" href="#" title="Conoce nuestros productos"
          >Productos</a
        >
      </li>
      <li>
        <a
          class="text_header_links"
          href="#"
          title="Disfruta de nuestras colecciones"
          >Colecciones</a
        >
      </li>
      <li>
        <a class="text_header_links" href="#" title="Visita nuestra tienda"
          >Tienda</a
        >
      </li>
      <li>
        <a class="text_header_links" href="#" title="Vuelve al incio">Inicio</a>
      </li>
    </ul>
  </nav>
</header>
