<header class="header" id="header">
  <nav class="header__nav">
    <i class="fa-solid fa-bars header__nav--hamburguer"></i>

    <ul class="header__nav--menu">
      <li><a href="#">Productos</a></li>
      <li><a href="#">Colecciones</a></li>
      <li><a href="#">Tienda</a></li>
      <li><a href="#">Inicio</a></li>
    </ul>
  </nav>

  <a class="header__logo" href="./index.html#header"
    ><img
      class="logo"
      src="./assets/images/logo.png"
      alt="Logo de Open Spaces"
      title="Ir al inicio"
  /></a>
</header>
