<section class="hero">
  <a class="hero__logo" href="./index.html#header"
    ><img
      class="logo"
      src="./assets/images/logo.png"
      alt="Logo de Open Spaces"
      title="Ir al inicio"
  /></a>

  <div class="hero__container">
    <h1 class="hero__container__title text_title_h1">
      Disfruta creando espacios
    </h1>
    <include
      src="../partials/components/button.html"
      button_text="Comprar ahora"
      button_type="button--normal"
    ></include>
  </div>
</section>
