:root {
  // 1REM = 1PX
  font-size: 6.25%;
}

* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
  font-size: 16rem;
}

// RESET STYLES
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

button {
  border: none;
  box-shadow: none;
}
// END OF RESET STYLES
