:root {
  // 1REM = 1PX
  font-size: 6.25%;
}

* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
  font-size: 16rem;
}

// RESET STYLES
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

button {
  border: none;
  box-shadow: none;
}
// END OF RESET STYLES

// FONTS
body {
  font-family: $poppins;
  color: $col_dark_green;
}

// TEXT STYlES

.text_title_h1 {
  font-size: 24rem;
  font-weight: $semi_bold;
  line-height: 38rem;
  @media (min-width: $break_point_tablet) {
    font-size: 36rem;
    font-weight: $semi_bold;
    line-height: 56rem;
  }
  @media (min-width: $break_point_desktop) {
    font-size: 36rem;
    font-weight: $semi_bold;
    line-height: 56rem;
  }
}

.text_title_h2 {
  font-size: 24rem;
  font-weight: $semi_bold;
  line-height: 38rem;
  @media (min-width: $break_point_tablet) {
    font-size: 24rem;
    line-height: 38rem;
  }
  @media (min-width: $break_point_desktop) {
    font-size: 36rem;
    line-height: 56rem;
  }
}

.text_title_h3 {
  font-size: 20rem;
  font-weight: $semi_bold;
  line-height: 30rem;
  @media (min-width: $break_point_desktop) {
    font-size: 24rem;
    line-height: 38rem;
  }
}

.text_paragraph {
  font-size: 14rem;
  font-weight: $regular;
  line-height: 18rem;
  @media (min-width: $break_point_desktop) {
    font-size: 16rem;
    line-height: 20rem;
  }
}

.text_paragraph_advantages {
  font-size: 14rem;
  font-weight: $regular;
  line-height: 18rem;
  @media (min-width: $break_point_tablet) {
    font-size: 16rem;
    line-height: 20rem;
  }
}

.text_header_links {
  @media (min-width: $break_point_desktop) {
    font-size: 16rem;
    font-weight: $regular;
    line-height: 20rem;
  }
}
.text_header_links:hover {
  color: $col_dark_green_hover;
}

.text_footer_links {
  font-size: 14rem;
  font-weight: $regular;
  line-height: 18rem;
  @media (min-width: $break_point_desktop) {
    font-size: 16rem;
    line-height: 20rem;
  }
}
