// FONTS
$poppins: "Poppins", sans-serif;
$regular: 400;
$semi_bold: 600;

// COLORS
$col_light_grey: #f0ebe5;
$col_medium_grey: #b6c8c9;
$col_dark_green: #0c474b;
$col_dark_green_hover: #19b7c2;
$col_orange: #ff975a;
$col_orange_hover: #f7b96e;
$col_red_button: rgb(191, 0, 0);
$col_red_button_hover: rgb(225, 30, 30);

$col_white: #fff;

// SIZES
$break_point_tablet: 768px;
$break_point_desktop: 1200px;

$max-width-tablet: 900rem;
$max-width-desktop: 1200rem;
