.advantages {
  padding: 0 24rem;
  display: grid;
  grid-template-rows: auto;
  justify-content: center;

  background-color: $col_light_grey;

  &__container {
    width: 100%;
    max-width: $max-width-desk;
    padding: 40rem 45rem 40rem 45rem;

    display: grid;
    grid-template-rows: repeat(4, auto);
    grid-row-gap: 40rem;

    text-align: center;

    @media all and (min-width: 768px) {
      grid-template-rows: repeat(2, auto);
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 40rem;
    }
    &__title,
    &__title span {
      text-align: center;
      font-size: 24rem;
      font-weight: $semi_bold;
      line-height: 38rem;
      color: $col_dark_green;
      @media all and (min-width: 768px) {
        grid-column-start: span 3;
      }
      @media all and (min-width: 1024px) {
        font-size: 36rem;
        line-height: 56rem;
      }
    }
    &__title span {
      text-transform: uppercase;
    }

    &__article img {
      width: 90rem;
      height: 90rem;
      margin: 0 0 45rem 0;
      @media all and (min-width: 1024px) {
        width: 120rem;
        height: 120rem;
      }
    }
    &__article h3 {
      margin: 0 0 12rem 0;
      font-size: 20rem;
      font-weight: $semi_bold;
      line-height: 24rem;
      color: $col_dark_green;
      @media all and (min-width: 768px) {
        grid-column-start: span 3;
      }
      @media all and (min-width: 1024px) {
        font-size: 24rem;
        line-height: 30rem;
      }
    }
    &__article p {
      font-size: 16rem;
      font-weight: $regular;
      line-height: 20rem;
      color: $col_dark_green;
    }
  }
}
