.footer {
  padding: 80rem 24rem;
  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;

  color: $col_medium_grey;
  background-color: $col_dark_green;

  &__container {
    padding-left: 80rem;

    display: flex;
    flex-direction: column;
    align-items: flex-start;

    @media (min-width: $break_point_tablet) {
      width: 70%;
      max-width: $max-width-tablet;
      padding-left: 0;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
    @media (min-width: $break_point_desktop) {
      width: 60%;
      max-width: $max-width-desktop;
    }
  }

  &__list {
    &__title {
      padding-bottom: 12rem;
    }

    &__ul {
      padding-bottom: 20rem;
      & li:hover {
        color: $col_white;
      }
    }
  }

  &__some {
    display: flex;
    &__icon {
      width: 24rem;
      height: 24rem;
      margin-right: 10rem;

      display: flex;
      justify-content: center;
      align-items: center;

      color: $col_white;

      &:hover {
        color: $col_dark_green_hover;
      }
      &--egg {
        transition: ease 1s;
        &:hover {
          color: $col_orange;
          transform: rotate(360deg);
        }
      }
    }
  }

  &__arrow {
    width: 24rem;
    height: 24rem;

    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    bottom: 16rem;
    right: 28rem;

    color: $col_white;

    display: none;

    @media (min-width: $break_point_tablet) {
      display: flex;
      bottom: 100rem;
      right: 10%;
    }
    &:hover {
      color: $col_dark_green_hover;
    }
  }
}
