.hero {
  height: 100vh;
  padding: 0 24rem;

  display: flex;
  justify-content: center;

  background-image: url(../images/header.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  @media all and (min-width: 768px) {
    align-items: flex-start;
  }

  &__container {
    width: 100%;
    max-width: $max-width-desk;

    display: flex;
    flex-direction: column;
    align-items: center;
    @media all and (min-width: 768px) {
      align-items: flex-start;
    }
    &__title {
      margin: 215rem 0 24rem 0;
      font-size: 24rem;
      font-weight: $semi_bold;
      color: $col_dark_green;
      line-height: 38rem;
      @media all and (min-width: 768px) {
        width: 430rem;
        margin: 364rem 0 12rem 147rem;

        font-size: 36rem;
        line-height: 56rem;
      }
      @media all and (min-width: 1024px) {
        margin: 400rem 0 12rem 0;
      }
    }

    &__button {
      padding: 12rem 24rem;

      display: flex;
      justify-content: center;
      align-items: center;

      font-size: 16rem;
      font-weight: $semi_bold;
      line-height: 24rem;
      text-transform: capitalize;
      color: $col_white;

      background-color: $col_dark_green;
      @media all and (min-width: 768px) {
        margin-left: 147rem;
      }
      @media all and (min-width: 1024px) {
        margin-left: 0;
      }
    }
    &__button:hover {
      cursor: pointer;
      background-color: $col_dark_green_hover;
    }
  }
}
