.shipping {
  padding: 48rem 24rem;

  display: flex;
  flex-direction: column;
  align-items: center;

  color: $col_white;

  background-color: $col_orange;

  &__img {
    width: 120rem;
    height: 120rem;

    margin-bottom: 12rem;
  }

  &__title {
    margin-bottom: 12rem;
  }

  &__paragraph {
    margin-bottom: 24rem;
  }
}
